  .admin-dashboard {
    display: flex;
    min-height: 100vh;
  }
  .content--admin {
    flex: 1;
    padding: 20px;
  }
  .main-content--admin{
    padding: 20px ;
    margin-top: 100px;
    margin-left: 310px;
    transition: width 0.3s ease, margin-left 0.3s ease;
  }

  .main-content--admin-full-width{
     
    padding: 20px ;
    margin-top: 100px;
    margin-left: 0px;
  }
  
@media (max-width: 992px) {
  .main-content--admin{
    padding: 20px ;
    margin-top: 100px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .main-content--admin{
    padding: 20px ;
    margin-top: 100px;
    margin-left: 0px;
  }
}